{% extends "base.html" %}
{% load materialize %}

{% block body %}
  <div class="row">
    <form class="col s12" method="POST">
    {% csrf_token %}
      <div class="row">
    	<div class="col s12">
    		<div class="card-panel">
    			<h4>Subscribe for Notifications</h4>
    				{% if form.errors %}
	    			<div class="card-panel red darken-4">
			          <span class="white-text"> 
						{{ form.errors }}
			          </span>
			        </div>
			        {% endif %}
			        <div class="input-field col s6">
			        {{ form.first_name.label }}
			        {{ form.first_name }}
			        </div>
			        <div class="input-field col s6">
			        {{ form.last_name.label }}
			        {{ form.last_name }}
			        </div>
			        <div class="input-field col s12">
			        {{ form.email_address.label }}
			        {{ form.email_address }}
			        </div>
		        <br /><br />
		        <button class="waves-effect waves-light btn" type="submit">Submit</button>
		        <a class="waves-effect waves-light btn red darken-3" href="{% url 'dashboard_index' %}">Cancel</a>
		      </div>
		    </div>
	    </div>
    </form>
  </div>
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
$(document).ready(function() {
    $('select').material_select();
});
</script>
{% endblock extrajs %}