{% extends "base.html" %}
{% load materialize %}

{% block body %}
  <div class="row">
    <form class="col s12" method="POST">
    {% csrf_token %}
      <div class="row">
    	<div class="col s12">
    		<div class="card-panel">
    			<h4>New System</h4>
		        <div class="input-field">
		        	{{ form.name|as_material:"s12" }}
		        	{{ form.description|as_material:"s12" }}
		        	{{ form.active|as_material:"s12" }}
		        </div>
		        <br /><br />
		        <button class="waves-effect waves-light btn" type="submit">Submit</button>
		        <a class="waves-effect waves-light btn red darken-3" href="{% url 'manager_index' %}">Cancel</a>
		      </div>
		    </div>
	    </div>
    </form>
  </div>
{% endblock %}